 <nav class="grey-5">
    <header>
        <div class="nav-wrapper container" style="align-items: center;">
        <a href="#!" class="brand-logo center">Stress Help</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories/add">My Notes</a></li>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </header>   
        <footer>
        <a href="/auth/logout">
            <button class="btn right">
                Logout
            </button>
        </a>
        <a href="/book-appointment">
            <button class="btn right">
                Book Appointment
            </button>
        </a>
        <a href="/graph">
            <button class="btn right">
                HRV
            </button>
        </a>
        <a href="/appointments">
            <button class="btn right">
                Your Appointments
            </button>
        </a>
        </footer>
    </div>
</nav>
